n8n/workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "export-backlog",
        "options": {}
      },
      "id": "9bdac867-e0bc-42ad-8bc5-887a6c65a203",
      "name": "Webhook (Export Backlog)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        3220,
        160
      ],
      "webhookId": "327a791c-6a3d-4740-ab7e-c3688cc83b8d"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ce9a0fe2-8c0c-4b49-b3f4-5df8708b996c",
      "name": "Convert to File (CSV)",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1,
      "position": [
        4360,
        180
      ]
    },
    {
      "parameters": {
        "fromEmail": "santhenao4@gmail.com",
        "toEmail": "={{ $('Code').item.json.to }}",
        "subject": "=Exportación backlog – Board {{ $('Code').item.json.boardId }}",
        "text": "Adjunto encontrarás el CSV exportado del tablero.\n",
        "options": {
          "attachments": "=data"
        }
      },
      "id": "000d2c1f-f865-439f-b963-ca5784a0d558",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        4580,
        180
      ],
      "credentials": {
        "smtp": {
          "id": "Ri4SkOnKvIyRCNF0",
          "name": "SMTP account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Payload original (en test suele venir en body)\nconst req =\n  $node[\"Webhook (Export Backlog)\"].json?.body ??\n  $json?.body ??\n  $json ?? {};\n\n// Toma TODOS los items de los nodos por nombre (no solo el primero)\nconst tasks = $items(\"Tasks\").map(i => i.json);\nconst cols  = $items(\"Columns\").map(i => i.json);\n\nif (!tasks.length) {\n  throw new Error('No se recibieron tareas desde \"Tasks\". Ejecuta ese nodo primero o revisa la URL.');\n}\n\n// Deduplicar columnas por _id y mapear id -> título\nconst colMap = new Map();\nfor (const c of cols) {\n  const k = String(c._id ?? c.id ?? \"\");\n  if (!k) continue;\n  if (!colMap.has(k)) colMap.set(k, c.title ?? c.name ?? \"\");\n}\n\n// Construir filas\nconst rows = tasks.map(t => ({\n  id: String(t._id ?? t.id ?? \"\"),\n  title: t.title ?? \"\",\n  description: t.description ?? \"\",\n  column: colMap.get(String(t.columnId ?? t.column ?? \"\")) ?? String(t.columnId ?? t.column ?? \"\"),\n  createdAt: t.createdAt ? new Date(t.createdAt).toISOString() : \"\",\n}));\n\n// Campos a exportar (opcional desde req.fields)\nconst fields = Array.isArray(req.fields) && req.fields.length\n  ? req.fields\n  : [\"id\", \"title\", \"description\", \"column\", \"createdAt\"];\n\n// Filtrar columnas\nconst filtered = rows.map(r => {\n  const o = {};\n  for (const f of fields) o[f] = r[f] ?? \"\";\n  return o;\n});\n\n// Salida para Convert to File (CSV)\nreturn [{\n  json: {\n    to: req.to,\n    boardId: req.boardId,\n    fields,\n    rows: filtered,\n    filename: `backlog-${req.boardId}-${new Date().toISOString().slice(0,10)}.csv`,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3940,
        180
      ],
      "id": "f3eed90e-a730-46d5-9a88-c36dfcc74aff",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:3000/api/tasks/board/{{$json.body.boardId}}\n",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "3df13012-0143-49d1-80db-4414e056f171",
      "name": "Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3520,
        40
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:3000/api/columns/board/{{$json.body.boardId}}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "08748712-e195-4bee-bd50-db860c6d19a2",
      "name": "Columns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3520,
        280
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3720,
        180
      ],
      "id": "b1b0e7b8-0970-4231-9e7b-88d7a579defa",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldToSplitOut": "rows",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4160,
        180
      ],
      "id": "ce7aae33-08e3-4ee5-a475-a75f0e3eab02",
      "name": "Split Out"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (Export Backlog)": {
      "main": [
        [
          {
            "node": "Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Columns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File (CSV)": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tasks": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Columns": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Convert to File (CSV)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "05908f7b-5877-4907-8e52-f67a58c53c61",
  "meta": {
    "instanceId": "8ad819edb6ae3566ddf500c65127f2178271e61e969bbddc6cd26f05239d3cbe"
  },
  "id": "856uqo6QwuSOnwaa",
  "tags": []
}